# Package Files #
*.jar
*.war
target/
test-output/
Servers/
.metadata
bin/
tmp/
logs/
log/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
# Eclipse Core
*.project*
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
.launch
*.classpath*
